body {
  background-color: #333;
  color: #fff;
}

nav {
  background-color: #171717;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0;
  padding: 0;
}

nav button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

.limpiar {
  background-color: #F44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.limpiar:hover {
  background-color: #D32F2F;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  font-family: Arial, sans-serif;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #444;
  color: #36e37b;
}
.alumno {
  text-align: center;
}
.maestro {
  text-align: center;
}

.notasgenerales {
  text-align: center;
}

.agregarmasclases {
  text-align: center;
}

.btnReportes{
  text-align: center;
}

.parabuscarclase button[type="button"]{
  width: 100%;
}

.btnparaagregarclases button[type="button"]{
  width: 100%;
}

.btnparaguardarnotas button[type="button"]{
  width: 100%;
}

.alumno button[type="button"] {
  width: 30%;
}

.maestro button[type="button"] {
  width: 30%;
}
button[type="button"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #e100ff;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #444;
}

#cuadroClases {
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
  margin-bottom: 20px;
}

#clasenueva {
  margin-bottom: 20px;
}

.materias label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
}

.materias {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.error {
  color: #F44336;
  font-size: 14px;
  margin-bottom: 10px;
}

.success {
  color: #4CAF50;
  font-size: 14px;
  margin-bottom: 10px;
}

.notas-table {
  border-collapse: collapse;
  width: 100%;
}

.notas-table th,
.notas-table td {
  border: 1px solid #cb6c6c;
  padding: 8px;
  text-align: center;
  background-color: #444;
  color: #fff;
}

.notas-table th {
  background-color: #222;
}

.notas-table tr:nth-child(even) {
  background-color: #222;
}

.notas-table tr:hover {
  background-color: #0077cc;
}

.reportes-table {
  border-collapse: collapse;
  width: 100%;
}

.reportes-table th,
.reportes-table td {
  border: 1px solid #cb6c6c;
  padding: 8px;
  text-align: center;
  background-color: #444;
  color: #fff;
}

.reportes-table th {
  background-color: #222;
}

.reportes-table tr:nth-child(even) {
  background-color: #222;
}

.reportes-table tr:hover {
  background-color: #0077cc;
}